.sidebar {
  background: #252121;
  padding: 0 10px;
}
.layout_item {
  background: #ffffff;
  margin: 10px 0;
  padding: 2.5px 0;
  color: black;
  font-size: 13px;
  &:hover {
    cursor: pointer;
  }
}
